node_modules/

# Environment configs
.env

state.local.backup.json
personalize.backup.json
data/state.json
data/activityLog.json
data/personalize.json

# Logs & caches
logs/
tmp/
*.log
*.cache/
activityLog.backup.json

# Editor/OS junk
.DS_Store
Thumbs.db
node_modules
.env

